<div class="clear top">
  <!-- Officer Location Map -->
  <div class="column-2 map-box">
    <h2>Officer Real-time Locations</h2>
    <%= render partial: "dashboards/locations/map" %>
  </div>
  <!-- Officer Location Map End -->
  <!-- Create New Post -->
  <div class="column-3 new-post">
    <h2>New Posting</h2>
    <%= form_for :new_post do |f| %>
      <div>
        <%= f.text_area :post_content %>
      </div>
      <%= f.hidden_field :post, id: :forum_post %>
      <trix-editor class="post-editor" input="forum_post"></trix-editor>
      <%= collection_select(:post_template, :id, @templates, :id, :template_name, include_blank: true, class: "template_select") %>
      Allow Comments <%= f.check_box :allow_comments %>
      <%= f.submit "Send", class: "submit" %>
    <% end %>
  </div>
  <!-- Create New Post End -->
</div>
<div class="bottom">
  <!-- Officer Availability Listing -->
  <div class="column-2">
    <h2>Available Officers</h2>
    <% @available_users.each do |user| %>
      <div>
        <span class="role"><%= user.role.name %></span>
        <span class="name"><%= user.first_name + " " + user.last_name %></span>
        <span class="org"><%= user.organization.name %></span>
      </div>
    <% end %>
  </div>
<!-- Officer Availability Listing End -->
  <div class="column-3">
<!-- Tasks Listing -->
    <div class="width-50">
      <h2>Current Open Tasks</h2>

    </div>
    <!-- Tasks Listing End -->
    <!-- Latest Posts Listing -->
    <div class="width-50">
      <h2>Latest Posts</h2>

    </div>
<!-- Latests Posts Listing End -->
  </div>
</div>
